* {
  background-image: none;
}
window {
  background-color: rgba(20, 20, 20, 0.8);
}
button {
  color: @insensitive_unfocused_fg_color_breeze;
  font-size: 16px;
  background-color: @theme_unfocused_bg_color_breeze;
  border-style: none;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15px;
  margin: 5px 5px;
  text-shadow: 0px 0px;
  box-shadow: 0px 0px;
}

button:focus,
button:active,
button:hover {
  background-color: @theme_text_color;
  outline-style: none;
}

#lock {
  background-image: image(url("./icons/lock.svg"));
}

#logout {
  background-image: image(url("./icons/logout.svg"));
}

#shutdown {
  background-image: image(url("./icons/shutdown.svg"));
}

#reboot {
  background-image: image(url("./icons/reboot.svg"));
}
