* {
  background-image: none;
}

window {
  /*background-color: rgba(31, 31, 40, 0.8);*/
  background-color: rgba(20, 20, 20, 0.8);
}

/*button {
  color: @theme_base_color;
  background-color: @theme_text_color;
  border-style: solid;
  border-width: 2px;
  background-repeat: no-repeat;
  background-position: center;
  margin-right: 20px;
  border-radius: 20px;
}
*/

button {
  border-radius: 20px;
  margin-right: 20px;
  border-color: @theme_base_color;
  border-width: 2px;
  text-decoration-color: @theme_base_color;
  font-weight: bold;
  color: @theme_base_color;
  background-color: @theme_text_color;
  border-style: solid;
  border-width: 1px;
  background-repeat: no-repeat;
  background-position: 50% -375px;
}

button:focus,
button:active,
button:hover {
  background-color: @focus_color;
  color: @theme_text_color;
  outline-style: none;
}

#lock {
  background-image: image(
    url("./icons/lock.svg"),
    url("/usr/share/wlogout/icons/lock.png"),
    url("/usr/local/share/wlogout/icons/lock.png")
  );
}

#logout {
  background-image: image(
    url("./icons/logout.svg"),
    url("/usr/share/wlogout/icons/logout.png"),
    url("/usr/local/share/wlogout/icons/logout.png")
  );
}

#shutdown {
  background-image: image(
    url("./icons/shutdown.svg"),
    url("/usr/share/wlogout/icons/shutdown.png"),
    url("/usr/local/share/wlogout/icons/shutdown.png")
  );
}

#reboot {
  background-image: image(
    url("./icons/reboot.svg"),
    url("/usr/share/wlogout/icons/reboot.png"),
    url("/usr/local/share/wlogout/icons/reboot.png")
  );
}
